<div class="row">
    <table cellspacing="0" style="width:100%;">
        <tbody>
        <tr>
            <td style="padding:0 5px;">

                <table cellspacing="0" style="width:990px;margin:0 auto;">
                    <tbody>
                    <tr>
                        <td style="vertical-align:top;background:url(//www.adfiver.com/images/index-options.jpg) center 30px no-repeat;">


                            <table cellspacing="0"
                                   style="width:990px;margin:162px auto 50px;font:13px/17px 'OpenSansRegular','Helvetica Neue',Helvetica,Arial,sans-serif;color:#7d7d7d;">
                                <tbody>
                                <tr>
                                    <td width="250"
                                        style="text-align:left;padding:17px 10px 20px;border-top:1px solid #E1E1E1; border-bottom:1px solid #E1E1E1;">
                                        <div style="color:#555;">In just few seconds, you can sign up an account with <a
                                                href="http://www.adfiverreview.com/"
                                                style="font:13px/17px 'OpenSansRegular','Helvetica Neue',Helvetica,Arial,sans-serif;color:#555;text-decoration:none;cursor:text;"
                                                title="Adfiver Review">AdFiver</a> and get started using our services.
                                        </div>
                                        <div style="color: #758d94;padding-top:10px;">Registration is absolutely free
                                            and open worldwide.
                                        </div>
                                    </td>
                                    <td width="85"></td>
                                    <td style="text-align:left;padding:17px 10px 20px;border-top:1px solid #E1E1E1; border-bottom:1px solid #E1E1E1;">

                                        <div style="color:#555;">Browsing our advertisers' websites, make tasks, refer
                                            others, online contests and complete offers.
                                        </div>
                                        <div style="color:#2facb2;padding-top:10px;">Login to your account and embark on
                                            your journey to get an extra income.
                                        </div>

                                    </td>
                                    <td width="85"></td>
                                    <td width="250"
                                        style="text-align:left;padding:17px 10px 20px;border-top:1px solid #E1E1E1; border-bottom:1px solid #E1E1E1;">
                                        <div style="color:#555;">Get Paid instantly for your activities, request the
                                            withdrawal and receive instantly to your account.
                                        </div>
                                        <div style="color: #2dbe60;padding-top:10px;">It is free! so, what are you
                                            waiting for? Start earning money for free!
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;padding:20px 10px 20px;">
                                        <div style="background:#758d94;padding:12px 10px;color:#fff;border-radius:5px;font:18px/20px 'OpenSansBold',Helvetica,Arial,sans-serif;text-align:center;cursor:pointer;"
                                             onclick="window.open('/register.php','_self');">SIGN UP
                                        </div>
                                    </td>
                                    <td></td>
                                    <td style="text-align:left;padding:20px 10px 20px;">
                                        <div style="background:#2facb2;padding:10px;color:#fff;border-radius:5px;font:18px/20px 'OpenSansBold',Helvetica,Arial,sans-serif;text-align:center;cursor:pointer;"
                                             onclick="window.open('/login.php','_self');">LOG IN
                                        </div>
                                    </td>
                                    <td></td>
                                    <td style="text-align:left;padding:20px 10px 20px;">
                                        <div style="background:#2dbe60;padding:10px;color:#fff;border-radius:5px;font:18px/20px 'OpenSansBold',Helvetica,Arial,sans-serif;text-align:center;cursor:pointer;"
                                             onclick="window.open('/register.php','_self');">GET PAID
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        </tbody>
    </table>
</div>