{% load widget_tweaks %}
{% load static %}
<div class="panel panel-default">
    <div class="panel-body">
        <form name="searchForm" class="form-horizontal" method="post">{% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="col-md-6">
                <fieldset>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            {{ form.city.label_tag }}
                            {% render_field form.city placeholder=form.city.label class="form-control" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            {% render_field form.address placeholder=form.address.label class="form-control" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            {% render_field form.phone placeholder=form.phone.label class="form-control" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            {% render_field form.telegram placeholder=form.telegram.label class="form-control" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            ساعت کاری:
                        </div>
                        <div class="col-xs-10 col-xs-offset-1">
                            {{ form.from_hour.label_tag }}
                            {% render_field form.from_hour placeholder=form.from_hour.label class="form-control" %}
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-10 col-xs-offset-1">
                            {{ form.to_hour.label_tag }}
                            {% render_field form.to_hour placeholder=form.to_hour.label class="form-control" %}
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            {{ form.base_time.label_tag }}
                            {% render_field form.base_time placeholder=form.base_time.label class="form-control" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            {{ form.opening_days.label_tag }}
                            {% for checkbox in form.opening_days %}
                                <p class="text-primary">
                                    {{ checkbox.tag }} {{ checkbox.choice_label }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            {{ form.lat_position.label_tag }}
                            <input id="lat" name="lat_position" type="text" hidden required="">
                            <input id="lng" name="lng_position" type="text" hidden required="">

                        </div>
                    </div>

                    <div id="googleMap" style="width:100%;height:400px;"></div>

                    <script src="{% static "js/office_location.js" %}"></script>
                    <script  async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIh9_A6auPUrSy0w8xx2mmJkPuQVAPnEU&callback=initOfficeMap"></script>

                </fieldset>
            </div>
            <div class="col-md-12">
                <fieldset>
                    <div class="form-group">
                        <div class="col-xs-6 col-xs-offset-3">
                            <button type="submit" class="btn btn-lg btn-block btn-raised btn-primary">ثبت اطلاعات
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>
