{% load widget_tweaks %}
<div class="panel panel-default">
    <div class="panel-body">
        <form name="searchForm" class="form-horizontal" method="post">{% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            <div class="col-md-6">
                <fieldset>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            {{ form.city | attr:"placeholder:شهر"| attr:"required:required" | add_class:"form-control"}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            {{ form.address | attr:"placeholder:آدرس" | attr:"required:required"| add_class:"form-control"}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            {{ form.phone | attr:"placeholder:تلفن" | attr:"required:required" | add_class:"form-control"}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            {{ form.telegram | attr:"placeholder:کانال تلگرام" | add_class:"form-control"}}
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>

                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            ساعت کاری:
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            از
                            {{ form.from_hour | attr:"placeholder:از" | attr:"required:required" | add_class:"form-control"}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            تا
                            {{ form.to_hour | attr:"placeholder:تا" | add_class:"form-control"}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                            مدت زمان ویزیت هر بیمار(دقیقه)
                            {{ form.base_time | attr:"placeholder:مدت زمان ویزیت هر بیمار(دقیقه)" | add_class:"form-control"}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-10 col-xs-offset-1">
                        <p>
روزهای کاری:
                            </p>
                            {% for checkbox in form.days %}
                                <p class="text-primary">
                                    {{ checkbox.tag }} {{ checkbox.choice_label }}
                                </p>
                            {% endfor %}
                            {#                            {{ form.days | attr:"placeholder:روزهای کاری" | add_class:"form-control"}}#}
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-12">
                <fieldset>
                    <div class="form-group">
                        <div class="col-xs-6 col-xs-offset-3">
                            <button type="submit" class="btn btn-lg btn-block btn-raised btn-primary">ثبت اطلاعات</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>
