{% extends "layout.html" %}
{% load material_form %}
{% load widget_tweaks %}
{% load static %}

{% block parallax %}
    <div class="parallax-container">
        <div class="parallax">
            <img src="{% static "image/hospital.jpg" %}">
        </div>
    </div>
{% endblock %}
{% block pageBody %}
    <div id="search">
        {% include "search.html" %}
    </div>
    <div id="registration">
        {% include "register_section.html" %}
    </div>
    <div id="features">

    </div>
    <div id="advertisement">

    </div>
    <div id="tutorial">
    </div>
{% endblock %}