{% extends "layout.html" %}
{% load material_form %}
{% load widget_tweaks %}
{% load static %}

{% block parallax %}
    <div class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <br><br>
                <br>
                {% include "search.html" %}
            </div>
        </div>
        <div class="parallax">
            <img src="{% static "image/hospital.jpg" %}">
        </div>

    </div>
{% endblock %}
{% block pageBody %}
    <div id="registration">
        {% include "register_section.html" %}
    </div>
{% endblock %}