{% extends "layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% block pageBody %}
    <div id="login-page" class="row center">
        <div class="z-depth-4 card-panel">
            <form name="loginForm" class="login-form" method="post">{% csrf_token %}
                <div class="row">
                    <div class="input-field col s12 center">
                        <img src="{% static "image/doctor.png" %}" alt="" class="circle responsive-img valign profile-image-login">
                        <p class="center login-form-text ">سامانه آنلاین مدیریت نوبت</p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 center">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="red-text">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="red-text">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row margin">
                    <div class="input-field col s10">
                        <i class="material-icons prefix">perm_identity</i>
                        {{ form.username | attr:"id:username"}}
                        <label for="username" class="active center-align">{{ form.username.label}}</label>
                    </div>
                    <div class="input-field col s10">
                        <i class="material-icons prefix">lock_outline</i>
                        {{ form.password | attr:"id:password"}}
                        <label for="password" class="active center-align">{{ form.password.label}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="submit" class="btn waves-effect waves-light col s8 offset-s2">ورود</button>
                    </div>
                    <div class="input-field col s12">
                        ثبت نام نکرده‌اید؟
                        <a href="{% url "register" %}" class="">ثبت نام</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

