{% load static %}
<div class="col-md-6">
    <div class="panel">
        <div class="panel-body" data-toggle="modal" data-target="#myModal">
            <div class="media">
                <div class="media-left">
                    <img class="media-object img-circle profile-img"
                         src="{% static "image/add-secretary.jpg" %}">
                </div>
                <div class="media-body">
                    <h2 class="center"> منشی جدید</h2>
                </div>
            </div>
        </div>
    </div>
</div>