{% extends "layout.html" %}
{% load material_form %}
{% load widget_tweaks %}
{% load static %}

{% block pageBody %}
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        {% if user.system_user.role.get_role_id == 1 %}
                            <img src="{% static "image/avatar-blue.png" %}" class="img-responsive" alt="">
                        {% else %}
                            <img src="{% static "image/doctor.png" %}" class="img-responsive" alt="">
                        {% endif %}
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{ user.first_name }} {{ user.last_name }}
                        </div>
                        <div class="profile-usertitle-job">
                            {{ user.user_role.get_role_type }}
                            {{ user.system_user.role.get_role_type }}
                        </div>
                    </div>

                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li>
                                <b> پنل کاربر</b>
                            </li>
                            <li {% if view.selected == "panel" %}class="active"{% endif %}>
                                <a href="{% url 'panel' %}">
                                    <i class="glyphicon glyphicon-stats"></i>
                                    وضعیت نوبت ها
                                </a>
                            </li>

                            <li {% if view.selected == "updateProfile" %}class="active"{% endif %}>
                                <a href="{% url 'systemUserProfile' %}">
                                    <i class="glyphicon glyphicon-edit"></i>
                                    ویرایش اطلاعات کاربری
                                </a>
                            </li>
                            {% if user.system_user.role.get_role_id == 1 %}
                                <li>
                                    <a href="{% url 'doctorRegister' %}">
                                        <i class="glyphicon glyphicon-log-in"></i>
                                        ثبت نام پزشک
                                    </a>
                                </li>

                            {% else %}
                                </ul>

                                <ul class="nav">
                                <li>
                                    <br>
                                    <b> پنل پزشک</b>
                                </li>


                                {% if user.system_user.role.office %}
                                    <li {% if view.selected == "reservation" %}class="active"{% endif %}>
                                        <a href="{% url "manageReservations" %}">
                                            <i class="glyphicon glyphicon-time"></i>
                                            نوبت دهی
                                        </a>
                                    </li>
                                    <li {% if view.selected == "reservationList" %}class="active"{% endif %}>
                                        <a href="{% url "reservationList" %}">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                            تاریخچه‌ی نوبت‌های بیماران
                                        </a>
                                    </li>
                                    <li {% if view.selected == "updateClinic" %}class="active"{% endif %}>
                                        <a href="{% url 'updateClinic' %}">
                                            <i class="glyphicon glyphicon-edit"></i>
                                            ویرایش اطلاعات مطب
                                        </a>
                                    </li>
                                {% else %}
                                    <li {% if view.selected == "addClinic" %}class="active"{% endif %}>
                                        <a href="{% url 'addClinic' %}">
                                            <i class="glyphicon glyphicon-ok"></i>
                                            ثبت اطلاعات مطب </a>
                                    </li>
                                {% endif %}

                                {% if user.system_user.role.get_role_id == 3 %}

                                    <li {% if view.selected == "manageSecretary" %}class="active"{% endif %}>
                                        <a href="{% url 'ManageSecretary' %}">
                                            <i class="glyphicon glyphicon-user"></i>
                                            مدیریت منشی </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{% url 'doctorProfile' user.system_user.role.pk %}">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                        مشاهده پروفایل
                                    </a>
                                </li>

                            {% endif %}

                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        {% if view.selected == "addClinic" %}
            {% include "clinic_form.html" %}
        {% elif view.selected == "updateClinic" %}
            {% include "clinic_form.html" %}
        {% elif view.selected == "updateProfile" %}
            {% include "update_profile.html" %}
        {% elif view.selected == "reservation" %}
            {% include "manage_reservations.html" %}
        {% elif view.selected == "reservationList" %}
            {% include "reservation_list.html" %}
        {% elif view.selected == "manageSecretary" %}
            {% include "manage_secretary.html" %}
            {% for f in object_list %}
                {% include 'secretary_card.html' with secretary=f %}
            {% endfor %}
        {% elif view.selected == "panel" %}
            {% include 'reservation_requests_status.html' %}
        {% endif %}
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">منشی جدید</h4>
                    </div>
                    <div class="modal-body">
                        <p>نام کاربری منشی خود را وارد کنید:</p>
                        <form method="post"> {% csrf_token %}
                            <input id="name" name="username" type="text" class="form-control input-lg text-primary"
                                   placeholder="جست و جو در بین کاربران...">

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">اضافه کردن</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
{% endblock %}