<div class="row">
    <div class="col s12 m4">
        <div class="card teal">
            <div class="card-content white-text center">
                <span class="card-title">از کجا آغاز کنم؟</span>
                <p>
                    سایت شما برای من مفید خواهد بود، می‌خواهم کار با آن را آغاز نمایم
                </p>
            </div>
            <div class="card-action center">
                <a href="{% url 'register' %}" class="btn teal accent-4" role="button">ثبت نام </a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card teal">
            <div class="card-content white-text center">
                <span class="card-title">بزن بریم</span>
                <p>
                    هم اکنون یک حساب کاربری دارم و برای استفاده از خدمات آمده‌ام.
                </p>
            </div>
            <div class="card-action center">
                <a href="{% url 'register' %}" class="btn teal accent-4" role="button"> ورود </a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card teal">
            <div class="card-content white-text center">
                <span class="card-title">من یک پزشک هستم!</span>
                <p>
                    به عنوان یک پزشک می‌خواهم از سیستم رزرو سایت بهره‌مند شوم
                </p>
            </div>
            <div class="card-action center">
                <a href="{% url 'register' %}" class="btn teal accent-4" role="button">پنل پزشکان</a>
            </div>
        </div>
    </div>
</div>