<div class="container">
    <div class="col-md-2 col-xs-6">
        <div class="panel-group" id="accordion">
            <div class="panel panel-success text-center">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            <p>
                                شنبه
                            </p>
                            <p>
                                ۹۵/۳/۱۲
                            </p>
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body bg-success">
                        <p>
                            ساعت کاری پزشک
                        </p>
                        <p>
                            از ۱۳ تا ۱۷
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel  panel-success text-center">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">بازه زمانی مورد نظر</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body bg-success">
                        <p>
                            از
                        </p>
                        <p>
                            تا
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

