{% extends "layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% block pageBody %}

    <div id="map" class="well" style="width:100%;height:500px;"></div>
    <script>

        var token = '{{ csrf_token }}';

        function initLocationSearchMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 35.696, lng: 51.351},
                zoom: 14
            });
            var infoWindow = null;


            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var marker = new google.maps.Marker({
                        map: map,
                        position: pos,
                        icon: 'https://cdn3.iconfinder.com/data/icons/map-markers-1/512/monument-48.png',
                        title: 'مکان فعلی شما'
                    });
                    map.setCenter(pos);

                    $.ajax({
                        method: 'POST',
                        url: '/ajax/search_by_location/',
                        data: {
                            'lat': pos.lat,
                            'lng': pos.lng,
                            'csrfmiddlewaretoken': token
                        },
                        dataType: 'json',
                        success: function (response) {
                            for (i = 0; i < response.length; i++) {
{#                                console.log(response[i]['lng_position']);#}
{#                                console.log(response[i]['lat_position']);#}
                                var curr_office_pos = new google.maps.LatLng(
                                    parseFloat(response[i]['lat_position']),
                                    parseFloat(response[i]['lng_position'])
                                );

                                var doctor_id = response[i]['doctorSecretary'];
                                var office_string = "<a class='text-primary' href='/../profile/"+ doctor_id + "'>" + "پروفایل پزشک" + "</a>";
                                var curr_office_marker = new google.maps.Marker({
                                    map: map,
                                    position: curr_office_pos
                                });
                                console.log(doctor_id);
                                google.maps.event.addListener(curr_office_marker, 'click', (function(content){
                                    return function () {
                                        var marker_infowindow = new google.maps.InfoWindow({map: map});
                                        marker_infowindow.setContent(content);
                                        marker_infowindow.open(map, this);
                                    }
                                }(office_string)));

                            }
{#                            console.log(response);#}
                        }
                    });

                }, function () {
                    infoWindow = new google.maps.InfoWindow({map: map});
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                infoWindow = new google.maps.InfoWindow({map: map});
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
        }


    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIh9_A6auPUrSy0w8xx2mmJkPuQVAPnEU&callback=initLocationSearchMap">
    </script>

    <div class="panel panel-default">
        <div class="page-title well text-primary">
            <h4> نزدیک ترین پزشکان</h4>

        </div>
        <div class="panel-body ">
            <div class="col-md-9">

                {% if not object_list %}
                    <h4>هیچ پزشکی در سیستم وجود ندارد.</h4>

                {% endif %}

                {% for f in object_list %}
                    <div>
                        {#            {% include 'widget/food.html' with food=f%}#}
                        {% include 'doctor_card.html' with doctor=f %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}