{% load static %}
<div class="col-md-6">
    <div class="panel">
        <div class="panel-body">
            <div class="media">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick=deleteSecretary("{{ secretary.username }}","{{ csrf_token }}")><span
                        aria-hidden="true">&times;</span></button>
                <div class="media-left">
                    <img class="media-object img-circle profile-img" src="{% static "image/avatar.png" %}">
                </div>
                <div class="media-body">
                    <h2 class="center">{{ secretary.full_name }}</h2>
                    <div class="mail">{{ secretary.username }}</div>
                </div>
            </div>
        </div>
    </div>
</div>