{% extends "layout.html" %}
{% load material_form %}
{% load widget_tweaks %}
{% block pageBody %}
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <form name="searchForm" class="form-horizontal" method="post">{% csrf_token %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ field.label }}{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="col-md-6">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-xs-10 col-xs-offset-1">
                                    {{ form.first_name | attr:"placeholder:نام"| add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-10 col-xs-offset-1">
                                    {{ form.last_name | attr:"placeholder:نام‌خانوادگی" | add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-10 col-xs-offset-1">
                                    {{ form.id_code | attr:"placeholder: کد ملی" | add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-10 col-xs-offset-1">
                                    {{ form.email | attr:"placeholder:ایمیل" | add_class:"form-control" }}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-xs-10 col-xs-offset-1">
                                    {{ form.username | attr:"placeholder:نام کاربری" | add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-10 col-xs-offset-1">
                                    {{ form.password | attr:"placeholder:رمز عبور" | add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-10 col-xs-offset-1">
                                    {{ form.confirm_password | attr:"placeholder:تکرار رمز عبور " | add_class:"form-control" }}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="center-align">
                        <div class="col-xs-4 col-xs-offset-4">
                            <button type="submit" class="btn btn-lg btn-block btn-raised btn-primary">ثبت نام</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}