{% extends "layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% block pageBody %}
    <div class="row center">
        <div class="z-depth-4 card-panel col l10 pull-l1">
            <form name="signupForm" class="signup-form" method="post">{% csrf_token %}
                {% if form.errors %}
                    <div class="row">
                        <div class="input-field col s12 center">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="red-text">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="red-text">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <br/>
                <div class="row col m6">
                    {% for field in form %}
                        {% if forloop.counter < 4 %}
                            <div class="input-field col s10 pull-s1">
                                {{ field | attr:"id:field.label"}}
                                <label for="{{ field.label }}" class="center-align">{{ field.label}}</label>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row no-margin-top col m6">
                    {% for field in form %}
                        {% if forloop.counter > 3 %}
                            <div class="input-field col s10 pull-s1">
                                {{ field | attr:"id:field.label"}}
                                <label for="{{ field.label }}" class="center-align">{{ field.label}}</label>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="submit" class="btn waves-effect waves-light col s8 pull-s2">ثبت‌نام</button>
                    </div>
                    <div class="input-field col s12">
                        حساب دارید؟
                        <a href="{% url "login" %}" class="">ورود</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}