{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>کلینیک</title>
    <meta name="description" content="Clinic Reservation System"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static "materialize/css/materialize.css" %}" media="screen,projection"/>

    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/profile.css" %}" rel="stylesheet">

    <link rel="icon" type="image/png" href="{% static "image/favicon-32x32.png" %}" sizes="16x16" />
</head>

<body class="teal lighten-5">
<header>
    <div class="navbar-fixed">
        <nav class="teal" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo center">کلینیک</a>
                <ul class="left hide-on-med-and-down">
                    {% if user.is_authenticated %}
                        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ user.first_name }} {{ user.last_name }}<i class="material-icons left">arrow_drop_down</i></a></li>
                    {% else %}
                        <li><a class="waves-effect" href="{% url "login" %}">ورود</a></li>
                        <li><a class="waves-effect" href="{% url "register" %}">ثبت نام</a></li>
                    {% endif %}
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a class="waves-effect" href="{% url 'searchResult' %}">پزشکان</a></li>
                    <li><a class="waves-effect" href="/panel">پنل</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#">Navbar Link</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{% url "systemUserProfile" %}">پروفایل</a></li>
            <li class="divider"></li>
            <li><a href="{% url "logout" %}">خروج</a></li>
        </ul>
    </div>
</header>

<main>
    {% block parallax %}
    {% endblock %}
    <div class="container">
        <div class="section">
        {% block pageBody %}
        {% endblock %}
        </div>
    </div>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">تماس با ما</h5>
                    <p class="grey-text text-lighten-4">ایمیل: test@gmail.com</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">پیوندها</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">خانه</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                کلیه حقوق برای کلینیک محفوظ است
            </div>
        </div>
    </footer>
</main>

<!--  Scripts-->
<script type="text/javascript" src="{% static "materialize/js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "materialize/js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "materialize/js/init.js" %}"></script>

<script src="{% static "js/fileBrowse.js" %}"></script>
<script src="{% static "js/search.js" %}"></script>
<script src="{% static "js/secretary.js" %}"></script>

</body>

</html>
